{{ define "main" }}
  <div class="row">{{- partial "carousel.html" . }}</div>
  <hr class="mb-6" />
  <div class="container col-xxl-10 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-lg-6">
        <img
          src="/images/home/Cover.png"
          class="d-block mx-lg-auto img-fluid"
          alt="Bootstrap Themes"
          height="100%"
          loading="lazy" />
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis mb-3">
          The Vernacular Architecture of India
        </h1>
        <h2 class="lead">Traditional Residential Styles and Spaces</h2>
        <h2 class="lead">&mdash; <a href="/about">Tejinder S. Randhawa</a></h2>
        <p class="lead">
          An encyclopedic compendium, based on decades of research,
          travel, documenting and photographing the indigenous architecture of
          the people of India.
        </p>
        <p class="lead">
          Illustrates and documents the vast diversity of social and environmental adaptations and preferences in dwellings, built from locally available material
          with locally available skills.
        </p>
        <p class="lead">
          550 pages, over 1600 high-resolution color photographs including plates and double-page spreads covering <a href="/regions">six regions</a> and <a href="/essays">four research essays</a> (click to read excerpts) on different aspects of traditional architecture of India
        </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start pb-5">
          <button type="button" class="btn btn-danger btn-lg px-4 me-md-2">
            <span style="font-family:'Fira Sans'">Order your Copy</span>
          </button>
        </div>
        <h5>Introductory Offer Price (INR) &#8377; 4,000 + Shipping<br />
          within India: &#8377; 250; outside India: &#8377; 3,500</h5>
        <h6>
          Specs: 550 Pages, (l&times;b &times;h) 28.5cm. &times; 22.5cm. &times; 3.5cm. Wt: 2.7Kg 
        </h6>
      </div>
    </div>
  </div>

<div class="container">
    <div class="row pt-6">
      <div class="col-md-8 offset-lg-1">
        {{- partial "reviews.html" }}
      </div>
    </div>
  </div>

  {{- partial "contents.html" (dict "context" . "section" "regions" "full" true) }}
  {{- partial "contents.html" (dict "context" . "section" "essays" "full" true) }}
{{- end }}
