{{ define "main" }}
  <div class="row">{{- partial "carousel.html" . }}</div>
  <hr class="mb-6" />
  <div class="container col-xxl-10 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img
          src="/images/home/14 nov Cover 16 bit image 119 mb TSR done.png"
          class="d-block mx-lg-auto img-fluid"
          alt="Bootstrap Themes"
          width="100%"
          loading="lazy" />
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis mb-3">
          The Vernacular Architecture of India
        </h1>
        <h2>Tejinder S. Randhawa</h2>
        <p class="lead">
          An encyclopedic compendium, based on over a decade of research and
          travel, documenting and photographing the indigenous architecture of
          the people of India.
        </p>
        <p class="lead">
          The book captures the vast diversity of social and environmental needs
          and preferences, in dwellings built from locally available material
          with locally available skills.
        </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">
            <span style="font-family:'Fira Sans'">Order the Book</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!--info boxes-->
  <div class="container">
    <div class="row intro">
      {{- range .Site.Data.home.intro }}
        <div class="col-md-3">
          <div class="text-center">
            <i class="{{- .icon }} display-6"></i>
          </div>
          <h5 class="text-center">{{- .title }}</h5>
          <p>{{- .text }}</p>
        </div>
      {{ end }}
    </div>
  </div>
  <!--//info boxes-->

  <div class="container">
    <div class="row pt-6">
      <div class="col-md-6">
        {{- partial "reviews.html" }}
      </div>
    </div>
  </div>

  {{- partial "contents.html" (dict "context" . "section" "regions" "full" true) }}
  {{- partial "contents.html" (dict "context" . "section" "essays" "full" true) }}
{{- end }}
