{{ define "main" }}
  <div class="row mb-4">{{- partial "carousel.html" . }}</div>
  <div class="container col-xxl-10 px-4 py-5">
    <div class="row align-items-center g-5 py-5">
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis mb-3">
          Vernacular Architecture of India
        </h1>
        <h2 class="lead">Traditional Residential Styles and Spaces</h2>
        <h2 class="lead pb-2">
          &mdash; <a href="/about">Tejinder S. Randhawa</a>
        </h2>
        <p class="lead">
          Covers a vast range of traditional residential architecture of India,
          illustrated with nearly 1600 full-colored illustrations covering the
          great building and craft skills of India with their overall views,
          details, construction techniques and surface decorations.
        </p>
        <p class="lead">
          Records and evaluates the best examples of the indigenous architecture
          of India that are relevant even today and provides detailed reference
          material on vernacular residential structures in all parts of India.
        </p>
        <img
          src="/images/home/Cover.png"
          class="d-block img-fluid mb-3"
          alt="Book Cover"
          loading="lazy" />
        <p class="lead">
          544 pages, nearly 1600 high-resolution color photographs including
          double-page spreads covering
          <a href="/regions">all regions</a> and
          <a href="/essays">supporting research</a> (click to read excerpts) on
          different aspects of traditional architecture of India
        </p>
      </div>
      <div class="col-lg-6 lead">
        <img
          src="/images/order/Free_Book_Mockup_1.png"
          class="d-block img-fluid mb-3"
          alt="Book Inside Page"
          loading="lazy" />
        <h4 class="pb-5">
          Specs: 544 Pages, (l &times; b &times; h) 28.5cm. &times; 22.5cm.
          &times; 3.5cm. Wt: 2.7Kg
        </h4>
        <h2>Book Price &#x20B9; (INR) <s>4,500</s></h2>
        <h2 class="pb-1">Our Price Per Copy &#x20B9; (INR) 4,000</h2>
        <h3 class="pb-3">Want more copies? See our special prices.</h3>
        <table
          class="table blend"
          style="font-family: 'Fira Sans'; font-weight: 400;">
          <thead>
            <tr>
              <td scope="col">Copies</td>
              <td align="center" scope="col">Special Price Per Copy</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td scope="row">3 or 4</td>
              <td align="center">&#x20B9; 3,800</td>
            </tr>
            <tr>
              <td scope="row">5 to 8</td>
              <td align="center">&#x20B9; 3,600</td>
            </tr>
            <tr>
              <td scope="row">9 or more</td>
              <td align="center">&#x20B9; 3,400</td>
            </tr>
          </tbody>
        </table>
        <h4>
          Packing and Shipping Per Copy:<br />&nbsp;&nbsp;&nbsp;&nbsp;within
          India &#x20B9; (INR) 250;<br />&nbsp;&nbsp;&nbsp;&nbsp;International
          &#x20B9; (INR) 3,500
        </h4>
        <hr />
        <div class="d-grid gap-2 d-md-flex justify-content-md-start pt-3">
          <a
            href="/order"
            role="button"
            class="btn btn-danger btn-lg px-4 me-md-2">
            <span style="font-family:'Fira Sans'">Order Now</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row pt-6">
      <div class="col-md-8 offset-lg-1">
        {{- partial "reviews.html" }}
      </div>
    </div>
  </div>

  {{- partial "contents.html" (dict "context" . "section" "regions" "full" true) }}
  {{- partial "contents.html" (dict "context" . "section" "essays" "full" true) }}
{{- end }}
