{{- $section := .section }}
{{- $full := .full }}
{{- $currentPage := .context.Page }}
{{- $sectionLink := (.context.Site.GetPage "section" $section).RelPermalink }}
<div class="row pt-2">
  <h3><a href="{{- $sectionLink }}">{{- $section | humanize }}</a></h3>
  {{- $regions := where .context.Site.RegularPages "Section" $section }}
  {{- range sort $regions ".Params.sortOrder" }}
    {{ if not (.Eq $currentPage) }}
      <div {{ if $full }}class="col-md"{{- end }}>
        <img
          src="/images/{{- $section }}/{{- .Params.summaryImage }}"
          width="100%"
          alt="..."
          class="pb-2" />
        <h5 class="text-center">
          <a href="{{- .RelPermalink }}">{{- .LinkTitle }}</a>
        </h5>
        {{- if $full }}
          {{- with .Params.includeStates }}
            <h6>Covers {{ delimit . ", " " and " }}</h6>
          {{- end }}
          <p class="small">
            {{ .Summary }}
            <a href="{{- .RelPermalink }}"
              ><i class="fa-solid fa-angles-right"></i
            ></a>
          </p>
        {{- end }}
      </div>
    {{- end }}
  {{- end }}
  <hr />
</div>
