<!--footer-->
<div id="footer">
  <div class="wrap">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h6 class="title">a brief introduction</h6>
          <p>
            Pellentesque tincidunt laoreet est, in tristique
            <a href="#">sapien consequat</a> a purus at. Orci nisi, luctus vitae
            imperdiet a, iquam vel urna. Pellentesque tincidunt laoreet.
          </p>

          <h6 class="title">contact us</h6>
          <address>
            <strong>Architecture Autonomous</strong><br />
            Salvador do Mundo, Torda<br />
            Goa<br />
            India
          </address>
          <address>
            <strong>Telephone</strong><br />
            (0123) 678901
          </address>
          <address>
            <strong>Email</strong><br />
            <a href="mailto:#">name@example.com</a>
          </address>

          <a data-rel="tooltip" href="#" title="Facebook"
            ><i class="icon-facebook marg-right5"></i
          ></a>
          <a data-rel="tooltip" href="#" title="LinkedIn"
            ><i class="icon-linkedin marg-right5"></i
          ></a>
          <a data-rel="tooltip" href="#" title="Twitter"
            ><i class="icon-twitter marg-right5"></i
          ></a>
          <a data-rel="tooltip" href="#" title="GooglePlus"
            ><i class="icon-google-plus"></i
          ></a>
        </div>

        <div class="col-md-3">
          <h6 class="title">bulk pricing</h6>
          <p>
            Pellentesque tincidunt laoreet est, in tristique a purus at. luctus
            vitae imperdiet aliquam vel, conse quat pur enim eiusmod. Orci nisi,
            luctus vitae imperdiet, iquam vel
            <a href="">tincidunt laoreet</a> urna. Pellentesque tincidunt
            laoreet est, in tristique sapien.
          </p>
          <p>
            Pellentesque tincidunt laoreet est, in tristique a purus at. luctus
            vitae imperdiet aliquam vel, conse quat pur enim eiusmod. Orci nisi,
            luctus vitae imperdiet, iquam vel
            <a href="">tincidunt laoreet</a> urna. Pellentesque tincidunt
            laoreet est, in tristique sapien.
          </p>
        </div>

        <div class="col-md-3">
          <h6 class="title">some legalese</h6>
          <p>
            Pellentesque tincidunt laoreet est, in tristique a purus at. luctus
            vitae imperdiet aliquam vel, conse quat pur enim eiusmod. Orci nisi,
            luctus vitae imperdiet, iquam vel
            <a href="">tincidunt laoreet</a> urna. Pellentesque tincidunt
            laoreet est, in tristique sapien.
          </p>
          <p>
            Pellentesque tincidunt laoreet est, in tristique a purus at. luctus
            vitae imperdiet aliquam vel, conse quat pur enim eiusmod. Orci nisi,
            luctus vitae imperdiet, iquam vel
            <a href="">tincidunt laoreet</a> urna. Pellentesque tincidunt
            laoreet est, in tristique sapien.
          </p>
          <p>
            Pellentesque tincidunt laoreet est, in tristique a purus at. luctus
            vitae imperdiet aliquam vel, conse quat pur enim eiusmod. Orci nisi,
            luctus vitae imperdiet, iquam vel
            <a href="">tincidunt laoreet</a> urna. Pellentesque tincidunt
            laoreet est, in tristique sapien.
          </p>
          <p>
            Pellentesque tincidunt laoreet est, in tristique a purus at. luctus
            vitae imperdiet aliquam vel, conse quat pur enim eiusmod. Orci nisi,
            luctus vitae imperdiet, iquam vel
            <a href="">tincidunt laoreet</a> urna. Pellentesque tincidunt
            laoreet est, in tristique sapien.
          </p>
        </div>

        <div class="col-md-3">
          <h6>some marketing</h6>
          <p>
            Pellentesque tincidunt laoreet est, in tristique a purus at. luctus
            vitae imperdiet aliquam vel, conse quat pur enim eiusmod. Orci nisi,
            luctus vitae imperdiet, iquam vel
            <a href="">tincidunt laoreet</a> urna. Pellentesque tincidunt
            laoreet est, in tristique sapien.
          </p>
          <p>
            Pellentesque tincidunt laoreet est, in tristique a purus at. luctus
            vitae imperdiet aliquam vel, conse quat pur enim eiusmod. Orci nisi,
            luctus vitae imperdiet, iquam vel
            <a href="">tincidunt laoreet</a> urna. Pellentesque tincidunt
            laoreet est, in tristique sapien.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!--bottom footer-->
  <div class="footer_bottom">
    <div class="wrap">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <div class="copyright">
              <a href="index.html">Architecture Autonomous</a>
              &copy;
              <script type="text/javascript">
                var d = new Date();
                document.write(d.getFullYear());
              </script>
              - All Rights Reserved <br />
            </div>
          </div>
          <div class="col-md-7">
            <div class="foot_right_block">
              <div class="follow_us">
                <a data-rel="tooltip" href="#" title="Twitter"
                  ><i class="fa-brands fa-facebook"></i
                ></a>
                <a data-rel="tooltip" href="#" title="Facebook"
                  ><i class="fa-brands fa-twitter"></i
                ></a>
                <a data-rel="tooltip" href="#" title="LinkedIn"
                  ><i class="fa-brands fa-linkedin"></i
                ></a>
                <a data-rel="tooltip" href="#" title="Pinterest"
                  ><i class="fa-brands fa-pinterest"></i
                ></a>
                <a data-rel="tooltip" href="#" title="GooglePlus"
                  ><i class="fa-brands fa-google"></i
                ></a>
              </div>
              <div class="clear"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
