<!--footer-->
<div id="footer">
  <div class="wrap">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h6 class="title">about the publisher</h6>
          <img
            src="/images/footer/GerardDaCunha.webp"
            class="img-fluid pb-2 w-100" />
          <h6>Gerard Da Cunha</h6>
          <p>
            Gerard da Cunha is an Indian architect based in Goa. He is the
            founder and principal architect of the architecture firm
            <strong>Architecture Autonomous</strong>. An alumnus of the School
            of Planning and Architecture, Delhi, he is known for utilizing
            locally available materials and traditional construction techniques
            in harmony with its ecosystem
          </p>
          <p>
            Architecture Autonomous has published over 16 books five of which
            are related to Art and Architecture. Among his other publications
            are books related to the life and work of the great Goan artist
            Mario de Miranda
          </p>
        </div>

        <div class="col-md-3">
          <h6 class="title">terms and conditions</h6>
          <p>
            All rights reserved. This book and its contents &ndash; in whole or
            part &ndash; may not be copied, stored, reproduced or transmitted in
            any form or by any means, without the prior written permission of
            the copyright holders
          </p>
        </div>

        <div class="col-md-3">
          <h6 class="title">contact us</h6>
          <p>author: <strong>Tejinder S. Randhawa</strong></p>
          <address>
            <strong>Email</strong><br />
            <a href="mailto:#">name@example.com</a>
          </address>
          <div class="follow_us-left">
            <a data-rel="tooltip" href="#" title="Facebook"
              ><i class="fa-brands fa-facebook"></i
            ></a>
            <a data-rel="tooltip" href="#" title="LinkedIn"
              ><i class="fa-brands fa-linkedin"></i
            ></a>
            <a data-rel="tooltip" href="#" title="Twitter"
              ><i class="fa-brands fa-twitter"></i
            ></a>
            <a data-rel="tooltip" href="#" title="Instagram"
              ><i class="fa-brands fa-instagram"></i
            ></a>
          </div>
          <hr />
          <p>publisher: <strong>Architecture Autonomous</strong></p>
          <h6 class="title"></h6>
          <address>
            674, Torda, Salvador do Mundo,<br />
            Bardez, Goa 403101<br />
            India
          </address>
          <address>
            <strong>Telephone</strong><br />
            +91-9822123152, +91-832-2410711 &amp; 2410715
          </address>
          <address>
            <strong>Email</strong><br />
            <a href="mailto:#">archauto@gmail.com</a>
          </address>
        </div>

        <div class="col-md-3">
          <h6 class="title">attributions</h6>
          <p>
            Text, photographs & book design by<br />
            <strong>Tejinder S. Randhawa</strong>
          </p>
          <p>
            Design inputs: <strong>Brij and Grafiniti</strong>.<br />
            Text editor: <strong>Ravindra Singh</strong>.
          </p>
          <p>
            Book Copyright:<br />
            <strong>Gerard da Cunha &amp; Architecture Autonomous</strong><br />
            Text &amp; Photographs Copyright:<br /><strong
              >Tejinder S. Randhawa</strong
            >
          </p>
          <p>
            Printed and bound in India by Pragati Offset Pvt Ltd, 17 Red Hills,
            Hyderabad 500 004, India
          </p>
        </div>
      </div>
    </div>
  </div>
  <!--bottom footer-->
  <div class="footer_bottom">
    <div class="wrap">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <div class="copyright">
              <strong>Gerard da Cunha &amp; Architecture Autonomous</strong>
              &copy;
              <script type="text/javascript">
                var d = new Date();
                document.write(d.getFullYear());
              </script>
              - All Rights Reserved <br />
            </div>
          </div>
          <div class="col-md-7">
            <div class="foot_right_block">
              <div class="follow_us-right text-align-left">
                <a data-rel="tooltip" href="#" title="Twitter"
                  ><i class="fa-brands fa-facebook"></i
                ></a>
                <a data-rel="tooltip" href="#" title="Facebook"
                  ><i class="fa-brands fa-twitter"></i
                ></a>
                <a data-rel="tooltip" href="#" title="LinkedIn"
                  ><i class="fa-brands fa-linkedin"></i
                ></a>
                <a data-rel="tooltip" href="#" title="Instagram"
                  ><i class="fa-brands fa-instagram"></i
                ></a>
              </div>
              <div class="clear"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
