<div class="container">
    <div class="row mt-5" style="color: white; background-color: black">
        <div class="col-md-5">
            <div class="copyright">
                Architecture Autonomous &copy;
                <script type="text/javascript">
                    var d = new Date();
                    document.write(d.getFullYear());
                </script>
                - All Rights Reserved <br />
            </div>
            <h3>Author Information</h3>
            <h3>Publisher Information</h3>
        </div>
        <div class="col-md-7">
            <div class="follow_us">
                <a class="px-1" data-rel="tooltip" href="#" title="Twitter"
                    ><i class="bi-twitter-x"></i
                ></a>
                <a class="px-1" data-rel="tooltip" href="#" title="Facebook"
                    ><i class="bi-facebook"></i
                ></a>
                <a class="px-1" data-rel="tooltip" href="#" title="Pinterest"
                    ><i class="bi-pinterest"></i
                ></a>
                <a class="px-1" data-rel="tooltip" href="#" title="GooglePlus"
                    ><i class="bi-google"></i
                ></a>
            </div>
            <div class="clear"></div>
            <div class="foot_menu">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="team.html">Pages</a></li>
                    <li>
                        <a href="portfolio_2columns.html">Portfolio</a>
                    </li>
                    <li><a href="scaffolding.html">Style</a></li>
                    <li><a href="pinterest_stream.html">Extras</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
